:css
  #activity_item_product_id {
    width: 200px;
  }

  #activity_item_details {
    margin-bottom: 0px;
  }

%h2
  Edit activity item for
  = @activity.name
#activity_item_details
  = simple_form_for [@activity, @activity_item] do |f|
    .row
      .col-md-6
        = f.input :product_id, collection: Product.all, input_html: { disabled: true }
        = f.input :quantity, as: :integer
        = f.input :price

    .row
      .col-md-6
        = f.submit 'Save', class: 'btn btn-default'
