:css
  #activity_details select.date-select {
    width:70px;
  }

= hidden_field(:activity, :id)
= hidden_field(:activity, :parent_id)
#activity_details.container
  .row
    .col-xs-4
      Number
      = text_field(:activity, :number, :disabled => disable_activity_editing)
    .col-xs-4
      Type
      - if @activity.parent_id.nil?
        - disable_type_editing = true;
        - activityTypes = ActivityType.all
      - else
        - disable_type_editing = disable_activity_editing
        - activityTypes = ActivityType.where.not(:name => 'Order')
      = collection_select(:activity, :activity_type_id, activityTypes, :id, :name, { }, { :disabled => disable_type_editing })

  .row
    .col-xs-4
      From Organization
      = collection_select(:activity, :from_organization_id, Organization.all, :id, :name, { }, { :disabled => disable_activity_editing })
    .col-xs-4
      To Organization
      = collection_select(:activity, :to_organization_id, Organization.all, :id, :name, { }, { :disabled => disable_activity_editing })

  .row
    .col-xs-4
      Date
      = date_select :activity, :date, { :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, { :class => 'date-select', :disabled => disable_activity_editing }
    .col-xs-4
      Owner
      = collection_select(:activity, :owner_user_id, User.all, :id, :email, { }, { :disabled => disable_activity_editing })

  .row
    .col-xs-4
      Note
      = text_area(:activity, :note, :disabled => disable_activity_editing)
    .col-xs-4
      Tag
      = text_area(:activity, :tag, :disabled => disable_activity_editing)

  .row
    .col-xs-4
      Group Name
      = text_field(:activity, :group_name, :disabled => disable_activity_editing)
    .col-xs-4
      Sort Type
      = text_field(:activity, :sort_name, :disabled => disable_activity_editing)

  .row
    .col-xs-4
      Sum Koef
      = text_field(:activity, :sum_koef, :disabled => disable_activity_editing)
:javascript
  function getActivityDetails() {
    return {
      id: $('#activity_id').val(),
      parent_id: $('#activity_parent_id').val(),
      number: $('#activity_number').val(),
      activity_type_id: $('#activity_activity_type_id :selected').val(),
      from_organization_id: $('#activity_from_organization_id :selected').val(),
      to_organization_id: $('#activity_to_organization_id :selected').val(),
      date_1i: $('#activity_date_1i :selected').val(),
      date_2i: $('#activity_date_2i :selected').val(),
      date_3i: $('#activity_date_3i :selected').val(),
      owner_user_id: $('#activity_owner_user_id :selected').val(),
      note: $('#activity_note').val(),
      tag: $('#activity_tag').val()
    };
  }

  function activityDetailsValidationRules() {
    return {
      'activity[number]': {
        required: true
      }
    }
  }

