:css
  #activity_details select.date-select {
    width:70px;
  }

= hidden_field(:activity, :id)
= hidden_field(:activity, :parent_id)
<div id="activity_details">
  <table>
    <tr>
      <td>
        Number
      </td>
      <td>
        <%= text_field(:activity, :number, :disabled => disable_activity_editing) %>
      </td>

      <td>
        Type
      </td>
      <td>
        <%
          if @activity.parent_id.nil?
            disable_type_editing = true;
            activityTypes = ActivityType.all
          else
            disable_type_editing = disable_activity_editing
            activityTypes = ActivityType.where.not(:name => 'Order')
          end

        %>
        <%= collection_select(:activity, :activity_type_id, activityTypes, :id, :name, { }, { :disabled => disable_type_editing }) %>
      </td>
    </tr>

    <tr>
      <td>
        From Organization
      </td>
      <td>
        <%= collection_select(:activity, :from_organization_id, Organization.all, :id, :name, { }, { :disabled => disable_activity_editing }) %>
      </td>

      <td>
        To Organization
      </td>
      <td>
        <%= collection_select(:activity, :to_organization_id, Organization.all, :id, :name, { }, { :disabled => disable_activity_editing }) %>
      </td>
    </tr>

    <tr>
      <td>
        Date
      </td>
      <td>
        <%= date_select :activity, :date, { :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, { :class => 'date-select', :disabled => disable_activity_editing }  %>
      </td>

      <td>
        Owner
      </td>
      <td>
        <%= collection_select(:activity, :owner_user_id, User.all, :id, :email, { }, { :disabled => disable_activity_editing }) %>
      </td>
    </tr>

    <tr>
      <td>
        Note
      </td>
      <td>
        <%= text_area(:activity, :note, :disabled => disable_activity_editing) %>
      </td>

      <td>
        Tag
      </td>
      <td>
        <%= text_area(:activity, :tag, :disabled => disable_activity_editing) %>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  function getActivityDetails() {
    return {
      id: $('#activity_id').val(),
      parent_id: $('#activity_parent_id').val(),
      number: $('#activity_number').val(),
      activity_type_id: $('#activity_activity_type_id :selected').val(),
      from_organization_id: $('#activity_from_organization_id :selected').val(),
      to_organization_id: $('#activity_to_organization_id :selected').val(),
      date_1i: $('#activity_date_1i :selected').val(),
      date_2i: $('#activity_date_2i :selected').val(),
      date_3i: $('#activity_date_3i :selected').val(),
      owner_user_id: $('#activity_owner_user_id :selected').val(),
      note: $('#activity_note').val(),
      tag: $('#activity_tag').val()
    };
  }

  function activityDetailsValidationRules() {
    return {
      'activity[number]': {
        required: true
      }
    }
  }
</script>

