<%= form_for @activity, :url => { :action => 'edit' }, :html => { :method => 'post' } do |f| %>
  <h3>Activity Details</h3>
  <%= render :partial => 'details', :locals => { :activity => @activity, :disable_activity_editing => false } %>
  <h3>Activity Items</h3>
  <%= render :partial => 'activity_items/add', :locals => { :activity_item => nil } %>
  <%= render :partial => 'activity_items/show', :locals => { :activity => @activity } %>
  <%= render :partial => 'errors', :locals => { :activity => @activity } %>
  <%= f.submit 'Save' %>
<% end %>
<%= link_to('Go back', { :controller => 'activities', :action => 'show', :parent_id => @activity.parent_id }) %>
<script type="text/javascript">
  $(document).ready( function() {
    $('.edit_activity').submit( function() {
      $.ajax({
        type: 'POST',
        url: '/activities/edit',
        data: {
          activity: {
            id: $('#activity_id')[0].value,
            parent_id: $('#activity_parent_id')[0].value,
            activity_type_id: $('#activity_activity_type_id :selected')[0].value,
            from_organization_id: $('#activity_from_organization_id :selected')[0].value,
            to_organization_id: $('#activity_to_organization_id :selected')[0].value,
            date_1i: $('#activity_date_1i :selected')[0].value,
            date_2i: $('#activity_date_2i :selected')[0].value,
            date_3i: $('#activity_date_3i :selected')[0].value,
            owner_user_id: $('#activity_owner_user_id :selected')[0].value,
            note: $('#activity_note')[0].value,
            tag: $('#activity_tag')[0].value
          },
          added_activity_items: added_activity_items,
          deleted_activity_items: deleted_activity_items
        },
        dataType : 'json',
        async: false,
        success: function(e) {
          if (e == true) {
            location.reload();
          }
        }
      });

      return false;
    });
  });
</script>