<%= form_for @activity, :url => { :action => 'edit' }, :html => { :method => 'post' } do |f| %>
  <h3>Activity Details</h3>
  <%= render :partial => 'form', :locals => { :activity => @activity, :disable_activity_editing => false } %>

  <% unless @activity.parent_id.nil? %>
  <h3>Activity Items</h3>
    <%= render :partial => 'activity_items/add', :locals => { :activity_item => nil } %>
    <%= render :partial => 'activity_items/show', :locals => { :activity => @activity } %>
  <% end %>

  <%= f.submit 'Save' %>
<% end %>
<%= link_to('Go back', { :controller => 'activities', :action => 'show', :parent_id => @activity.parent_id }) %>
<script type="text/javascript">
  $(document).ready( function() {
    $('.edit_activity').submit(function(e) {
      if (!$('.edit_activity').validate().form()) {
        return false;
      }

      $.ajax({
        type: 'GET',
        url: '/activities/ajax_edit',
        data: {
          activity: getActivityDetails(),
          added_activity_items: typeof getAddedActivityItems !== 'undefined' ? getAddedActivityItems() : [],
          deleted_activity_items: typeof getDeletedActivityItems !== 'undefined' ? getDeletedActivityItems() : []
        },
        dataType : 'json',
        async: false,
        success: function(e) {
          if (e.result == true) {
            location.reload();
            return;
          }

          alert(e.errors);
        }
      });

      return false;
    });

    $('.edit_activity').validate({
      rules: activityDetailsValidationRules()
    });
  });
</script>
