%h2 Activities
%p
  = link_to 'Add', new_activity_path, class: 'btn btn-success'
  = link_to 'Delete', { controller: 'activities', action: 'delete' }, id: 'delete'

= grid(@activities_grid, show_filters: :always, class: :table) do |g|
  - g.action_column

  - g.column name: 'Number', attribute: 'number'

  - g.column name: 'Type', attribute: 'name', model: 'ActivityType' do |activity|
    - activity.type.name if activity.type

  - g.column name: 'Date', attribute: 'date', class: 'date-col'

  - # alias_table должна называться именно так чтобы работали фильтры
  - g.column name: 'From Organization',
             attribute: 'name',
             model: 'Organization' do |activity|
    - activity.from_organization.name if activity.from_organization

  - # alias_table должна называться именно так чтобы работали фильтры
  - g.column name: 'To Organization',
             attribute: 'name',
             model: 'Organization',
             table_alias: 'to_organizations_activities' do |activity|
    - activity.to_organization.name if activity.to_organization

  - g.column name: 'Note', attribute: 'note'

  - g.column name: 'Tag', attribute: 'tag'

  - g.column name: 'Status', attribute: 'name', model: 'ActivityStatus',
    allow_multiple_selection: true,
    custom_filter: ActivityStatus.pluck(:name) do |activity|
    - activity.activity_status.name if activity.activity_status

  - g.column name: 'Total', attribute: 'total' do |activity|
    - activity.children.orders.map(&:total).sum

  - g.column do |activity|
    - "#{link_to 'Edit', edit_activity_path(activity), class: 'btn btn-primary btn-xs'} #{link_to 'View', activity_path(activity), class: 'btn btn-primary btn-xs'} #{link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Вы уверены ?' }, class: 'btn btn-danger btn-xs'}".html_safe

:javascript
  $(document).ready( function() {
    $('#delete').click( function() {
      if (!confirm('Are you sure?')) {
        return false;
      }

      var selected = $('input[type=checkbox][name^=grid]:checked');
      var ids = [];

      for(var i = 0; i < selected.length; i++) {
        ids[i] = selected[i].value
      }

      if (ids.length < 1) {
        alert('Please select at least one activity');

        return false;
      }

      $.ajax({
        type: 'GET',
        url: '/activities/delete',
        data: { id: ids },
        dataType : 'json',
        async: false,
        success: function(e) {
          if (e == true) {
            location.reload();
          }
        }
      });

      return false;
    });
  });
