%h2
  New Activity
- @activity.errors.full_messages.each do |message|
  .alert.alert-danger{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{ 'aria-hidden' => "true" }
    %snam.sr-only
      Error:
    = message

#activity_details.container
  = simple_form_for @activity, defaults: { input_html: { class: 'form-control' } } do |f|
    = f.input :parent_id, as: :hidden
    .row.form-group
      .col-xs-4
        = f.input :number
      .col-xs-2
        = f.input :activity_type_id, collection: ActivityType.all, include_blank: false
      .col-xs-2
        = f.input :sum_koef, collection: [-1, 0, 1], include_blank: false
    .row.form-group
      .col-xs-4
        = f.input :from_organization_id, collection: Organization.all, required: true
      .col-xs-4
        = f.input :to_organization_id, collection: Organization.all, required: true

    .row.form-group
      .col-xs-4
        = f.input :date, as: :string, required: true, input_html: { class: 'bdatepicker form-control' }
      .col-xs-4
        = f.input :owner_user_id, collection: User.all

    .row.form-group
      .col-xs-4
        = f.input :note, as: :text
      .col-xs-4
        = f.input :tag, as: :text

    .row.form-group
      .col-xs-4
        = f.input :group_name
      .col-xs-4
        = f.input :sort_name

    .row.form-group
      .col-xs-4
        = f.association :activity_status

    - if @activity.child?
      %h3 Activity Items
      .row
        .col-md-12
          %table.table.table-striped
            %thead
              %tr
                %td Product
                %td Product Price
                %td Quantity
              = f.simple_fields_for :activity_items do |i|
                %tr

                  %td= i.object.product.name
                  %td= i.object.product.get_sale_price
                  %td= i.input_field :quantity
                  %td= i.input :product_id, as: :hidden

    .row.form-group
      .col-xs-12
        = link_to 'Go back', :back, class: 'btn btn-primary'
        = f.button :submit, 'Save', class: 'btn btn-primary'

:javascript
  $(document).ready(function(){
    $('.bdatepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });

    $('.activity_from_bankacc select').select2({
      theme: "bootstrap",
      ajax: {
        url: window.location.origin + '/bankaccs',
        dataType: 'json',
        processResults: function (data) {
          return {
            results: $.map(data, function(a){
              return {id: a.id, text: a.name};
            })
          };
        },
        data: function (params) {
          var organization_id = $('#activity_from_organization_id').val();
          return {organization_id: organization_id};
        }
      }

    });

    $('.activity_to_bankacc select').select2({
      theme: "bootstrap",
      ajax: {
        url: window.location.origin + '/bankaccs',
        dataType: 'json',
        processResults: function (data) {
          return {
            results: $.map(data, function(a){
              return {id: a.id, text: a.name};
            })
          };
        },
        data: function (params) {
          var organization_id = $('#activity_to_organization_id').val();
          return {organization_id: organization_id};
        }
      }
    });
  });
