%h3
  Activity Details
.row
  .col-md-8
    #activity_details.container
      .row
        .col-xs-4
          %b Number:
          = @activity.number
        .col-xs-4
          %b Type:
          - if @activity.parent_id.nil?
            - activityTypes = ActivityType.all
          - else
            - activityTypes = ActivityType.where.not(:name => 'Order')
          = @activity.activity_type.try(:name)

      .row
        .col-xs-4
          %b From Organization:
          = @activity.from_organization.try(:name)
        .col-xs-4
          %b To Organization:
          = @activity.to_organization.try(:name)

      .row
        .col-xs-4
          %b From Back Account:
          = @activity.from_bankacc.try(:name)
        .col-xs-4
          %b To Back Account:
          = @activity.to_bankacc.try(:name)


      .row
        .col-xs-4
          %b Date:
          = @activity.date
        .col-xs-4
          %b Owner:
          = @activity.owner.email

      .row
        .col-xs-4
          %b Note:
          = @activity.note
        .col-xs-4
          %b Tag:
          = @activity.tag

      .row
        .col-xs-4
          %b Group Name:
          = @activity.group_name
        .col-xs-4
          %b Sort Type:
          = @activity.sort_name

      .row
        .col-xs-4
          %b Sum Koef:
          = @activity.sum_koef
        .col-xs-4
          %b Status:
          = @activity.activity_status.try(:name)

.row
  .col-md-6
    %table.table
      %thead
        %tr
          %th Тип Активити
          %th Сумма
      - @activities_grids.each do |type_line|
        %tr
          %td= type_line[:name]
          %td= type_line[:total]

  - if @activity.parent?
    .col-md-6
      = render partial: 'totals/table'

- if @activity.child?
  %h3
    Activity Items
  %p
    = link_to 'Add Item', new_activity_activity_item_path(activity_id: @activity.id), class: 'btn btn-success'
  - if @activity.items.any?
    .row
      .col-md-6
        = render partial: 'activity_items/grid', locals: { activity_items_grid: @activity_items_grid }
  %p
    = link_to 'Edit activity', edit_activity_path(@activity), class: 'btn btn-primary'
    = link_to 'Go to parent', activity_path(@activity.parent), class: 'btn btn-primary'

- if @activity.parent?
  %h3
    Child Activities
  %p
    = link_to 'Add', new_activity_path(parent_id: @activity.id), class: 'btn btn-success'
  - if grouped?
    %table.table
      %thead
        %tr
          %td Name
          %td
          %td Total
        - @activities_grids.each do |grid|

          %tr
            %td= grid[:name]
            %td
            %td= grid[:total]
          %tr
            %td{ colspan: 3}
              = grid( grid[:grid], show_filters: :when_filtered) do |g|
                - g.action_column

                - g.column name: 'Number', attribute: 'number'

                - g.column name: 'Type', attribute: 'name', model: 'ActivityType' do |activity|
                  - activity.activity_type.name if activity.activity_type

                - g.column name: 'Date', attribute: 'date'

                - g.column name: 'From Organization', attribute: 'name', model: 'Organization', :table_alias => 'from_organization' do |activity|
                  - activity.from_organization.name if activity.from_organization

                - g.column name: 'To Organization', attribute: 'name', model: 'Organization', :table_alias => 'to_organization' do |activity|
                  - activity.to_organization.name if activity.to_organization

                - g.column name: 'Note', attribute: 'note'

                - g.column name: 'Tag', attribute: 'tag'

                - g.column name: 'Status', attribute: 'name', model: 'ActivityStatus' do |activity|
                  - activity.activity_status.name if activity.activity_status

                - g.column name: 'Total', attribute: 'total'

                - g.column do |activity|
                  - "#{link_to 'Edit', edit_activity_path(activity), class: 'btn btn-primary btn-xs'} #{link_to 'View', activity_path(activity), class: 'btn btn-primary btn-xs'} #{link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Вы уверены ?' }, class: 'btn btn-danger btn-xs'} #{link_to('Duplicate', new_activity_path(duplicate_id: activity.id), class: 'btn btn-primary btn-xs')}".html_safe

  - else

    = grid(@activities_grid, show_filters: :when_filtered) do |g|
      - g.action_column

      - g.column name: 'Number', attribute: 'number'

      - g.column name: 'Type', attribute: 'name', model: 'ActivityType' do |activity|
        - activity.activity_type.name if activity.activity_type

      - g.column name: 'Group', attribute: 'group_name'

      - g.column name: 'Date', attribute: 'date'

      - # alias_table должна называться именно так чтобы работали фильтры
      - g.column name: 'From Organization',
                 attribute: 'name',
                 model: 'Organization' do |activity|
        - activity.from_organization.name # if activity.from_organization

      - # alias_table должна называться именно так чтобы работали фильтры
      - g.column name: 'To Organization',
                 attribute: 'name',
                 model: 'Organization',
                 table_alias: 'to_organizations_activities' do |activity|
        - activity.to_organization.name if activity.to_organization

      - g.column name: 'Note', attribute: 'note'

      - g.column name: 'Tag', attribute: 'tag'

      - g.column name: 'Status', attribute: 'name', model: 'ActivityStatus' do |activity|
        - activity.activity_status.name if activity.activity_status

      - g.column name: 'Total', attribute: 'total'

      - g.column do |activity|
        - "#{link_to 'Edit', edit_activity_path(activity), class: 'btn btn-primary btn-xs'} #{link_to 'View', activity_path(activity), class: 'btn btn-primary btn-xs'} #{link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Вы уверены ?' }, class: 'btn btn-danger btn-xs'} #{link_to('Duplicate', new_activity_path(duplicate_id: activity.id), class: 'btn btn-primary btn-xs')}".html_safe

  %p
    = link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-primary'
    = link_to 'Delete', activity_path(@activity, method: :delete, data: { confirm: 'Вы уверены ?' }), class: 'btn btn-danger'
    = link_to 'Рассчитать остаток', activity_path(@activity), class: 'btn btn-success', id: 'generate'
    - if grouped?
      = link_to 'View Ungrouped', activity_path(@activity), class: 'btn btn-primary'
    - else
      = link_to 'View Grouped', activity_path(@activity, grouped: true), class: 'btn btn-primary'

-# временно, потом сделаем buld- download
- unless @activity.parent?
  %p
    = link_to 'Скачать счет', activity_bill_path(@activity), class: 'btn btn-default'
    = link_to 'Скачать Торг 12', activity_torg12_path(@activity), class: 'btn btn-default'
    = link_to 'Скачать СФ', activity_sf_path(@activity), class: 'btn btn-default'

:javascript
  $(document).ready( function() {
    $('#generate').click( function() {

      var selected = $('input[type=checkbox][name^=grid]:checked');
      var ids = [];

      for(var i = 0; i < selected.length; i++) {
        ids[i] = selected[i].value
      }

      if (ids.length < 2) {
        alert('Please select at least two activity');
        return false;
      }

      var urlParams = {ids: $.map( selected, function(a){ return a.value; }), parent_id: "#{ @activity.id }" };
      location.href = "#{ new_diff_activities_path }?" + $.param(urlParams);

      return false;
    });
  });
