= form_for @product, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :articul, :class => 'control-label'
    .controls
      = f.text_field :articul, :class => 'text_field'

  .control-group
    = f.label :sale_price, :class => 'control-label'
    .controls
      = f.text_field :sale_price, :class => 'text_field'

  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      = f.check_box :active, :class => 'check_box'
  .control-group
    = f.label :forsale, :class => 'control-label'
    .controls
      = f.check_box :forsale, :class => 'check_box'
  .control-group
    = f.label :note, :class => 'control-label'
    .controls
      = f.text_area :note, :class => 'text_area'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
