- @product.errors.full_messages.each do |message|
  .alert.alert-danger{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{ 'aria-hidden' => "true" }
    %snam.sr-only
      Error:
    = message

= simple_form_for @product, defaults: { input_html: { class: 'form-control' } } do |f|
  .row.form-group
    .col-xs-4
      = f.input :name
    .col-xs-4
      = f.input :articul

  .row.form-group
    .col-xs-4
      = f.input :sale_price
    .col-xs-4
      = f.input :measure, collection: Product::MEASURES

  .row.form-group
    .col-xs-4
      = f.input :active, input_html: { class: nil }
    .col-xs-4
      = f.input :forsale, input_html: { class: nil }

  .row.form-group
    .col-xs-8
      = f.input :note

  .row.form-actions
    .col-xs-8
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
