<!DOCTYPE html>
<html>
<head>
  <title>Xduck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">XDuck</a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Activities", activities_path %></li>
          <li><%= link_to "Boms", boms_path %></li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Admin", admin_root_path %></li>
        </ul>
      </div>
    </div>
</nav>


<div class="container">

  <%= yield %>

  <p><%= notice %></p>
  <p><%= alert %></p>
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <!--%= link_to "Sign up", new_user_registration_path > or <= link_to "sign in", new_user_session_path %-->
    <% end %>
  </div>
</div>

</body>
</html>
